fastapi>=0.115.6
uvicorn>=0.32.1
pydantic>=2.10.6
pydantic-settings>=2.7.1
sqlalchemy>=2.0.36
opencv-python-headless>=4.10.0.84
openpyxl>=3.1.5
pandas>=2.2.3
python-multipart>=0.0.20
numpy>=2.2.4
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.0
pymongo>=4.9.0
dnspython>=2.6.1
requests>=2.27.1
gdown>=3.10.1
tqdm>=4.30.0
Pillow>=5.2.0
mtcnn>=0.1.0
retina-face>=0.0.1
fire>=0.4.0